/* Defining variables */

@set 
{
	/* COLORS */
	lightest-green: #0BBE01;
	light-green: #109709;
	green: #0C7A07;
	dark-green: #045500;
	darkest-green: #033200;
	
	lightest-red: #E80207;
	light-red: #B80B10;
	red: #95080C;
	dark-red: #68003;
	darker-red: #3E0002;
	
	lightest-gray: #EFEFEF;
	lighter-gray: #E5E5E5;
	light-gray: #B7B7B7;
	gray: #939393;
	dark-gray: #666666;
	darker-gray: #3D3D3D;
	darkest-gray: #1E1E1E;
	
	black-char: #0F1416;
	black-onyx: #353839;
	white-smoke: #F5F5F5;
	white-powder: #FEFEFA;
	
	/* FONTS */
	vt323: 'VT323', monospace;
	nova: 'Nova Mono', monospace;
	comfortaa: 'Comfortaa', cursive;
	palatino: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

/* Utility Classes */

.noselect 
{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

/* Styling */

body
{
	background-color: $(dark-gray);
}

.content
{
	background-color: $(black-char);
	color: $(green);
	
	h1
	{
		font-family: $(comfortaa);
	}
}