/* Defining variables */

@set 
{
	/* COLORS */
	lightest-green: #0BBE01;
	light-green: #109709;
	green: #0C7A07;
	dark-green: #045500;
	darkest-green: #033200;
	
	lightest-red: #E80207;
	light-red: #B80B10;
	red: #95080C;
	dark-red: #68003;
	darker-red: #3E0002;
	
	lightest-gray: #EFEFEF;
	lighter-gray: #E5E5E5;
	light-gray: #B7B7B7;
	gray: #939393;
	dark-gray: #666666;
	darker-gray: #3D3D3D;
	darkest-gray: #1E1E1E;
	
	black-char: #0F1416;
	black-onyx: #353839;
	white-smoke: #F5F5F5;
	white-powder: #FEFEFA;
	
	/* FONTS */
	vt323: 'VT323', monospace;
	nova: 'Nova Mono', monospace;
	comfortaa: 'Comfortaa', cursive;
	palatino: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

/* Utility Classes */

.noselect 
{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

::selection {
  background: $(green);
  color: $(black-char);
  text-shadow: none;
}

::-moz-selection {
  background: $(green);
  color: $(black-char);
  text-shadow: none;
}

/* Styling */
a
{
	color: $(red);
	font-family: $(vt323);
	font-size: 18px;
	text-decoration: none;
	text-shadow: 0 0 10px $(light-red)77;
}
a:hover
{
	color: $(lightest-red);
	text-shadow: 0 0 40px $(light-red)EE;
}

.sidebar
{
	background-color: $(black-char);
	/*float: right;
	margin: 50px;
	margin-top: 40px;
	padding: 5px;*/

	position: fixed;
	top: 60px;
	right: 60px;
	
}

#topbar, #leftbar, #rightbar, #bottombar
{
	background-color: $(darker-gray);
	position: fixed;
	z-index: 5;
}
#topbar
{
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
}
#leftbar
{
	top: 0;
	left: 0;
	bottom: 0;
	width: 50px;
}
#rightbar
{
	top: 0;
	right: 0;
	bottom: 0;
	width: 50px;
}
#bottombar
{
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
}

body
{
	/*background-color: $(dark-gray);*/
	background-color: $(black-char);
}

table
{
	border-collapse: collapse;
}

table, th, td
{
	border: 1px solid $(light-gray);
}

.content
{
	/*background-color: $(black-char);*/
	color: $(green);
	text-shadow: 0 0 10px $(light-green)77;
	font-family: $(vt323);
	/*margin: 3%;*/
	margin: 50px;
	padding: 20px;
	
	h1, h2, h3
	{
		font-family: $(comfortaa);
		text-shadow: 0 0 30px $(lightest-green)AA;
	}

	p, td, th
	{
		color: $(white-smoke);
		text-shadow: 0 0 10px $(light-gray)77;
		font-family: $(vt323);
		font-size: 20px;
	}

	td,th
	{
		padding: 3px;
	}
}

input, button, select
{
	background-color: $(black-char);
	border-style: solid;
	border-width: 2px;
	border-color: $(green);
	border-radius: 2px;
	
	color: $(green);
	text-shadow: 0 0 10px $(light-green)77;
	box-shadow:  0 0 10px $(light-green)77;
	box-shadow:  inset 0 0 10px $(light-green)77;
	font-family: $(nova);
}

input[type="submit"]:hover, button:hover
{
	background-color: $(black-char);
	border-color: $(light-green);
	
	color: $(light-green);
	text-shadow: 0 0 10px $(lighter-green)77;
	box-shadow:  0 0 10px $(lighter-green)77;
	box-shadow:  inset 0 0 10px $(lighter-green)77;
	
	cursor: pointer;
}

td input[type="text"], select
{
	border-style: none;
	box-shadow: none;
}

input:focus
{
	outline: 0;
}

textarea
{
	background-color: $(black-char);
	border-style: solid;
	border-width: 2px;
	border-color: $(green);
	border-radius: 2px;
	
	color: $(green);
	text-shadow: 0 0 10px $(light-green)77;
	box-shadow:  0 0 10px $(light-green)77;
	box-shadow:  inset 0 0 10px $(light-green)77;
	font-family: $(vt323);
	font-size: 20px;
	
	cursor: text;
}

textarea:focus
{
	outline:0;
}

.float_bottom_left
{
	position: static;
	width: 150px;
	left: 10px;
	bottom: 10px;
}

/* specific to one page */

	/* messages.php */
		
		#msgCont
		{
			float: left;
			width: 40%;
		}
		
		#msgGroups
		{
			float: right;
			width: 30%;
		}
		
		#msgListing
		{
			height: 45%;
			overflow-y: scroll;
		}
